@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
     
}

body {
   background-color: #f3f3f3; 
}

html {
    scroll-behavior: smooth;
}

nav ul li a {
    color: #000;
    text-decoration: none;
}
  
nav ul li a:hover {
    color: #FFCE86;
}
  
nav ul li a:active,
nav ul li a:focus {
    color: #FFCE86;
    font-weight: bold;
}

#menu {
    display: flex;
    background-color: #1F1F20;
    flex-direction: column;
    height: 20%;
    width: 100%; 
    justify-content: right; 
    padding: 1%;
}

.menu {
    width: 100%;
}

#menulist {
    display: flex;
    background-color: #1F1F20;
    flex-direction: row;
    justify-content: right; 


}

.botaomenu {
    display: flex;
    color: #ffffff;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    margin-right: 40px;

    @media screen and (max-width: 600px) {
        font-size: 20px;
    }
}


h1 {
    display: flex;
    color: black;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 40px;
    width: 70%;

    @media screen and (max-width: 600px) {
        width: 80%;
    }
}

h2 {
    display: flex;
    color: black;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    width: 70%;
    margin-top: 1%

    
}

#citacao {
    display: flex;
    color: black;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: lighter;
    margin-top: 5%;
    width: 80%;
    
    @media screen and (max-width: 600px) {
        width: 90%;
    }
}

#fotoperfil {
    display: flex;
    width: 300px;
    height: 300px;
    border: none;
    border-radius: 20%;
    margin-right: 20px;
}

#apresentacao {
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin: 5%;

    @media screen and (max-width: 600px) {
        flex-direction: column
    }
}

#capa {
    display: flex;
    flex-direction: row;
    align-items: center; 
}

h3 {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    text-decoration: underline;
    text-decoration-color: #D9D9D9;
    text-decoration-style: solid;
    text-decoration-thickness: 30%;
    text-underline-position: under;
    margin-bottom: 4%;
    width: fit-content;

}

.textodescricao {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    width: 60%;
    margin-bottom: 10%;
    margin-left: 5%;

    @media screen and (max-width: 600px) {
        width: 90%;
    }
}

#imagemsobre {
    display: flex;
    width: 250px;
    height: auto;
}


.titulolista {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-left: 8%;
    margin-bottom: 10%;
    margin-top: 10%;
}

.divisor {
    width: 10px;
    height: auto;
    border-radius: 30px;
    background-color: #1F1F20;
}

.divisorelista {
    display: flex;
    flex-direction: row;
}

#lista {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
    list-style: none;
    margin-top: 15%;
    margin-left: 8%;
}


.lista {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    margin-left: 10%;
    width: 100%;
    color: #8D8D8D;
    list-style-position: inside;
    list-style-type: disc;

}

.secao {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    padding-right: 10%;
    padding-left: 5%;
    justify-content: space-between;

    @media screen and (max-width: 600px) {
        flex-direction: column
    }
}



.formacoes {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #1F1F20; 
    width: 100%;
}

#listaformacoes {
   
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    width: 80%;
    margin-bottom: 10%;
    margin-left: 5%;

}

.icone {
    list-style: none;
    margin-left: 10%;
}

.imgicone {
    height: 48px;
    width: auto;
    margin: 0%;
    
}

.card {
    width: 250px;
    height: auto;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
    margin: 5%;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.2);
  }

.titulocard {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #1F1F20;
    background-color: #EDEDED;
    border-radius: 0px 0px 20px 20px;
    align-items: center;
    justify-items: center;
    width: 250px;
    margin: 0%;
}

.imgcard {
    width: 250px;
    height: 150px;
    border-radius: 20px 20px 0px 0px;
    

}

#projetos {
    display: flex;
    flex-direction: row;
    justify-items: left;
    width: 100%;
    margin-left: 5%;

    @media screen and (max-width: 600px) {
        flex-direction: column;
    }
}

footer {
    background-color: #1F1F20;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    padding: 10%;
}

#convite {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 38px;
    align-items: center;
    width: 80%;

    @media screen and (max-width: 600px) {
        width: 80%
    }
}

.linkcontato {
    display: flex;
    flex-direction: column;
    color: #EDEDED;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 38px;
    padding-left: 4%;
    padding-right: 4%;
    background-color: #d9d9d938;
    align-items: center;
    border-radius: 20px;
    text-decoration: underline;
    transition: transform 0.3s;
}

.linkcontato:hover {
    transform: scale(1.1);
    background-color: #ffcf8621;
    color: #FFCE86;

  }

#botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
    
}

a {
    text-decoration: none;
}